.container {
  padding: 18rem;

  color: var(--color-white);
  position: relative;

  display: grid;
  justify-items: center;
  row-gap: 3rem;
}

.container h3 {
  /* font-size: 6rem; */
  text-align: center;
  max-width: 100%;
  margin: auto;
  font-weight: 300;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundImage img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
  z-index: -1;
}

.content {
  display: grid;
  place-items: center;
  row-gap: 1rem;
  margin-bottom: 3rem;
}

@media (max-width: 75em) {
}

@media (max-width: 68.75em) {
  .container {
    padding: 10rem;
  }
}

@media (max-width: 53.125em) {
  .container {
    padding: 8rem;
  }
}

@media (max-width: 37.5em) {
  .container {
    padding: 4rem;
  }
  .container h3 {
    font-size: 2rem;
  }
}

@media (max-width: 26.875em) {
  .container {
    padding: 4rem 2rem;
  }
}
