.mainParent {
  display: grid;
  row-gap: 3rem;
}

.heading {
  text-align: center;
}

.membersContainer {
  padding: 6rem;
  background-color: var(--color-mid-grey);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;
  align-items: start;

  border-radius: 1.8rem;
}

.cardContainer {
  background-color: var(--color-white);
  color: var(--color-white);
  overflow: hidden;
  border-radius: 1.8rem;
}

.imageAndTitle {
  padding: 4rem;
  background-color: var(--color-white);
  color: var(--color-black);
}

.titleBox {
  display: grid;
  row-gap: 3rem;
  align-items: center;
  place-items: center;
}

.titleBox p {
  text-align: start;
}

.image {
  border-radius: 500rem;
  object-fit: cover;
  object-position: top center;
}

.contentBox {
  padding: 6rem 4rem;
  display: grid;
  row-gap: 3rem;
}

.icons a {
  background-color: var(--color-white);
  display: flex;
  width: max-content;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 50rem;
}

.icon svg {
  width: 2.6rem;
  height: 2.6rem;
  fill: var(--color-black);
}

.contentBox p {
  text-align: start;
}

.nameBox {
  text-align: center;

  display: grid;
  place-items: center;
}

.paragraphBox {
  display: grid;
  row-gap: 1.8rem;
  justify-items: start;
}

.paragraphBox p {
  text-align: left;
}

@media (max-width: 81.25em) {
  .membersContainer {
    padding: 4rem;
  }

  .contentBox {
    padding: 4rem;
  }
}

@media (max-width: 75em) {
  .cardContainer .imageAndTitle {
    padding: 2rem;
  }
  .membersContainer {
    padding: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .contentBox {
    padding: 2.4rem;
  }

  .image {
    width: 100px;
    height: auto;
  }

  .titleBox {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 1.8rem;
    text-align: center;
  }

  .titleBox p {
    text-align: center;
  }

  .paragraphBox {
    justify-items: center;
  }
}

@media (max-width: 55.625em) {
  .membersContainer {
    grid-template-columns: 1fr;
  }
}
