.teamContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  padding: 4rem 0;

  align-items: center;
  color: var(--color-white);
}

.imageContainer {
  width: 100%;
  height: auto;
}

.imageContainer img {
  width: 100%;
  height: auto;
  filter: saturate(0.8);
}

.content {
  display: grid;
  row-gap: 1.6rem;
  height: max-content;
}

.metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.4rem;
}

.metric {
  display: grid;
  row-gap: 0.3rem;
}

.metricHeading {
  display: flex;
  justify-content: center;
  color: var(--color-white);
}

.metric p {
  color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-caption);
}

@media (max-width: 68.75em) {
  .content h2 {
    font-size: 2.8rem;
  }
}
@media (max-width: 65.625em) {
  .teamContainer {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .imageContainer {
    align-self: center;
    justify-self: center;
  }

  .imageContainer img {
    width: 60%;
  }
}

@media (max-width: 53.125em) {
  .metrics {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .metric p {
    max-width: 300px;
    margin: auto;
  }
}

@media (max-width: 48em) {
  .content {
    /* padding: 4rem; */
  }
}

@media (max-width: 36em) {
  .imageContainer img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 23.75em) {
  .metrics {
    grid-template-columns: 1fr;
  }
}
