:root {
  --color-bright-orange: #ff5100;
  --color-orange: #cc5500;
  --color-primary-hover: #994000;
  --color-brown: #342b1c;
  --color-dark-brown: #210d00;
  --color-white: #fff;
  --color-light-grey: #f5f4f3;
  --color-mid-grey: #efefef;
  --color-dark-blue: #3e3e59;
  --color-black: #292929;
  --color-darker-brown: #140800;
  --color-brown-linear: linear-gradient(180deg, #210d00 0%, #140800 100%);
  --color-faded-orange: rgba(204, 85, 0, 0.05);

  --color-green: #00cc99;

  --border-radius-reg: 0.8rem;

  --font-size-h1: 4.8rem;
  --font-size-h2: 4rem;
  --font-size-h3: 3.2rem;
  --font-size-h4: 2.4rem;
  --font-size-h5: 2rem;
  --font-size-h6: 1.8rem;

  --font-size-paragraph-big: 2rem;
  --font-size-paragraph-regular: 1.6rem;
  --font-size-paragraph-small: 1.4rem;
  --font-size-caption: 1.2rem;

  --font-weight-light: 300;
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
}

::selection {
  background-color: var(--color-orange);
  color: var(--color-white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: var(--font-size-paragraph-regular);
  font-weight: var(--font-weight-regular);

  min-height: 100vh;
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: var(--font-size-paragraph-regular);
  font-weight: var(--font-weight-regular);
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 1.2;
  /* line-height: 4.6rem; */
}

h2 {
  font-size: var(--font-size-h2);
  line-height: 1.25;
}

h3 {
  font-size: var(--font-size-h3);
  line-height: 1.3;
}

h4 {
  font-size: var(--font-size-h4);
  line-height: 1.35;
}

h5 {
  font-size: var(--font-size-h5);
  line-height: 1.35;
}

h6 {
  font-size: var(--font-size-h6);
  line-height: 1.35;
}

p strong {
  font-weight: var(--font-weight-semibold);
}

figure {
  max-width: 100%;
}

@media (max-width: 87.5em) {
  :root {
    --font-size-h1: 4.4rem;
    --font-size-h2: 3.6rem;
    --font-size-h3: 3rem;
    --font-size-h4: 2.2rem;
    --font-size-h5: 1.8rem;
    --font-size-h6: 1.6rem;

    --font-size-paragraph-big: 1.8rem;
    --font-size-paragraph-regular: 1.5rem;
    --font-size-paragraph-small: 1.3rem;
    --font-size-caption: 1.1rem;
  }
}

@media (max-width: 48.75em) {
  :root {
    --font-size-h1: 3.6rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2.6rem;
    --font-size-h4: 2rem;
    --font-size-h5: 1.6rem;
    --font-size-h6: 1.4rem;
  }
}

@media (max-width: 31.25em) {
  :root {
    --font-size-h1: 3.2rem;
    --font-size-h2: 2.6rem;
    --font-size-h3: 2.2rem;
    --font-size-h4: 1.8rem;
  }
}
@media (max-width: 28.44em) {
  :root {
    --font-size-h1: 2.8rem;
    --font-size-h2: 2.4rem;
    --font-size-h3: 2rem;
  }
}
