.container {
  display: grid;
  place-items: center;
  row-gap: 2rem;
}

.heading {
  text-align: center;
}

.topList {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.formBody {
  display: grid;
  row-gap: 1rem;
}
.btnContainer {
  display: grid;
  place-items: center;
}

@media (max-width: 72em) {
  .formBody input {
    width: 100%;
  }
}

@media (max-width: 47em) {
  .topList fieldset {
    width: 100%;
  }

  .formBody {
    width: 100%;
  }
}

@media (max-width: 30em) {
  .topList {
    flex-direction: column;
    gap: 0.6rem;
  }
}

@media (max-width: 23em) {
}
