.main {
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.main p {
  text-align: start;
}

.heroSection {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.backgroundSlider {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.backgroundSlider img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top center;

  animation: zoomInOut 20s infinite;
}

.content {
  height: 100%;
  width: 60%;
  background-color: rgba(33, 13, 0, 0.6);

  display: grid;
  justify-items: start;
  align-content: center;
  grid-auto-rows: max-content;
  padding: 0 10rem;
  row-gap: 2rem;
}

.lottieIcon {
  position: absolute;
  bottom: -8rem;
  left: 3%;
}

.mobileLogo {
  display: none;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 83.125em) {
  .heroContent {
    width: 76%;
  }
}

@media (max-width: 75em) {
  .mobileLogo {
    display: block;
    width: 100%;
    height: 100%;
  }

  .mobileLogo img {
    width: 120px;
    height: auto;
    margin-bottom: 3rem;
  }

  .content {
    width: 100%;
  }
}

@media (max-width: 60.75em) {
  .heroSection {
    height: 100vh;
  }
}

@media (max-width: 38.125em) {
  .content {
    padding: 0 4rem;
  }

  .heroSection {
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 31.25em) {
  .lottieIcon {
    bottom: -3rem;
  }

  .content {
    padding: 0 2rem;
  }
}
