.paragraphBlock {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 3rem;
}

.content {
  position: relative;
}

.content h4 {
  font-weight: 200;
}

.content h4 strong {
  font-weight: 300;
}

.caption {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-orange);
}

.scrollDown {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -9rem;
}

.scrollDown p {
  text-transform: uppercase;
  font-weight: 400;
}

.white {
  color: var(--color-white);
}

.dark {
  color: var(--color-darker-brown);
}

@media (max-width: 87.5em) {
  .content h4 {
    font-size: 2.2rem;
  }
}

@media (max-width: 75em) {
  .scrollDown {
    bottom: -5.8rem;
  }
}

@media (max-width: 71.0625em) {
  .scrollDown {
    bottom: -8rem;
  }
}

@media (max-width: 68.75em) {
  .content {
    position: static;
  }

  .scrollDown {
    bottom: 1.4rem;
  }
}

@media (max-width: 51.875em) {
  .scrollDown {
    bottom: 2.8rem;
  }

  .paragraphBlock {
    column-gap: 1.4rem;
  }
}

@media (max-width: 37.5em) {
  .scrollDown {
    bottom: 3rem;
  }
}
