.quote {
  position: relative;

  padding: 4rem;
  min-height: 38vh;

  display: grid;
  place-items: center;
}

.kwaAfrika {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kwaAfrika img {
  width: 400px;
  height: 400px;
  opacity: 0.06;

  animation: spinCoin 10s linear infinite;
  transform-style: preserve-3d;
}

.quoteContainer {
  text-align: center;
  max-width: 60%;
  margin: auto;

  display: grid;
  row-gap: 2.6rem;
}

.quoteContainer p {
  text-align: center;
}

@keyframes spinCoin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 60em) {
  .quoteContainer {
    max-width: 80%;
  }
}

@media (max-width: 41.25em) {
  .quoteContainer {
    max-width: 96%;
  }

  .kwaAfrika img {
    width: 200px;
    height: 200px;
  }
}
