.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: var(--color-orange);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: color-burn;

  z-index: 3;
}

@media only screen and (max-width: 56.25em) {
  .cursor {
    display: none;
  }
}
