.main {
  display: grid;
  align-items: center;
  /* max-height: 100vh; */
  min-height: 100vh;
}

.darkBrown {
  background-color: var(--color-dark-brown);
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 6rem;
  /* padding: 0 6rem; */
  height: 100%;
  /* background-color: var(--color-faded-orange); */
}

/*Image styles*/
.imageContainer {
  /* transform: translateY(-40px); */
  width: 100%;
  height: 100%;
}

.imageContainer img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 75em) {
  .contentContainer {
    padding: 4rem 6rem;
    grid-template-columns: 1fr;
    row-gap: 8rem;

    position: relative;
  }

  .imageContainer img {
    aspect-ratio: 1/1;
  }
}

@media (max-width: 68.75em) {
  .contentContainer {
    padding: 4rem 6rem;
    grid-template-columns: 1fr;
    row-gap: 4rem;

    position: relative;
  }
}

@media (max-width: 37.5em) {
  .contentContainer {
    padding: 8rem 2rem;
  }
}
