.main {
  display: grid;
  align-items: center;
  /* max-height: 100vh; */
  min-height: 100vh;
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
  padding: 0 6rem;
  background-color: var(--color-faded-orange);
}

.paragraphBlock {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 3rem;
}

.content {
  position: relative;
}

.caption {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--color-orange);
}

.line {
  height: 100%;
  background-color: var(--color-orange);
  width: 2px;
}

.scrollDown {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: -9rem;
}

.scrollDown p {
  text-transform: uppercase;
  font-weight: 400;
}

/*Image styles*/
.imageContainer {
  transform: translateY(-40px);
  width: 100%;
  height: 712px;
}

.imageContainer img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 75em) {
  .imageContainer {
    height: 600px;
  }

  .scrollDown {
    bottom: -5.8rem;
  }
}

@media (max-width: 71.0625em) {
  .scrollDown {
    bottom: -8rem;
  }
}

@media (max-width: 68.75em) {
  .contentContainer {
    padding: 4rem 6rem;
    grid-template-columns: 1fr;
    row-gap: 8rem;

    position: relative;
  }

  .imageContainer {
    height: 300px;
  }

  .content {
    position: static;
  }

  .scrollDown {
    bottom: 1.4rem;
  }
}

@media (max-width: 51.875em) {
  .scrollDown {
    bottom: 2.8rem;
  }
}

@media (max-width: 37.5em) {
  .contentContainer {
    padding: 8rem 2rem;
  }

  .scrollDown {
    bottom: 3rem;
  }
}
