.container {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;

  height: 100vh;
}

.content {
  display: grid;
  row-gap: 4rem;
  justify-items: center;
}

.paragraph {
  max-width: 80%;

  display: grid;
  row-gap: 2rem;
  justify-items: center;
}

.paragraph p {
  text-align: center;
}
