.rsvpContainer {
  padding: 4rem;
}

.formBody {
  padding: 4rem;
  padding-bottom: 0;

  display: grid;
  place-items: center;
  row-gap: 1.8rem;
}

.fieldset {
  border: none;

  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
  align-items: start;
}

@media (max-width: 50.625em) {
  .rsvpContainer {
    padding: 2rem;
  }

  .formBody {
    padding: 2rem;
  }

  .fieldset {
    grid-auto-flow: row;
    width: 100%;
  }
}
